doctype html
html(lang="en")
		head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			title Document
			link(rel="stylesheet", href="../style.css")
			link(
				rel="stylesheet"
				href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
				integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
				crossorigin="anonymous"
			)
			link(rel="stylesheet", href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
		body 
			//- header
			include components/header.pug
			//- main
			main 
				section.section-home 
					.container 
						.swiper.home-swiper.JS-home-swiper 
							.swiper-wrapper 
								.swiper-slide.home-swiper-slide
									.home 
										.home-blurb
											.home-blurb__sale 
												span SALE 
											.home-blurb__title 
												h1.home-blurb__title-text 372 Central Park W #17N,  New York
											.home-blurb__description 
												p.home-blurb__description-text.
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
													necarcu eget nulla bibendum finibus. Class aptent taciti sociosqu ad litora 
													torquent per conubia nostra, per inceptos himenaeos.
											.btn
												a.btn.btn-success.btn--normal(href="") VIEW DETAILS			
								.swiper-slide.home-swiper-slide
									.home 
										.home-blurb
											.home-blurb__sale 
												span SALE 
											.home-blurb__title 
												h1.home-blurb__title-text 372 Central Park W #17N,  New York
											.home-blurb__description 
												p.home-blurb__description-text.
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
													necarcu eget nulla bibendum finibus. Class aptent taciti sociosqu ad litora 
													torquent per conubia nostra, per inceptos himenaeos.
											.btn
												a.btn.btn-success.btn--normal(href="") VIEW DETAILS							
								.swiper-slide.home-swiper-slide
									.home 
										.home-blurb
											.home-blurb__sale 
												span SALE 
											.home-blurb__title 
												h1.home-blurb__title-text 372 Central Park W #17N,  New York
											.home-blurb__description 
												p.home-blurb__description-text.
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
													necarcu eget nulla bibendum finibus. Class aptent taciti sociosqu ad litora 
													torquent per conubia nostra, per inceptos himenaeos.
											.btn
												a.btn.btn-success.btn--normal(href="") VIEW DETAILS								
							.home-pag
								.swiper-pagination 	
							.swiper-button-prev 
							.swiper-button-next  
				//- section.section-home 
				//- 	.container 
				//- 			.swiper.home-swiper.JS-home-swiper
				//- 				.swiper-wrapper
				//- 					.swiper-slide.home-swiper-slide
				//- 						.d-flex 
				//- 							include components/home.pug
				//- 							include components/card.pug
				//- 				.pag
				//- 					.swiper-pagination 
				//- 				.swiper-button-prev
				//- 				.swiper-button-next
				//- 			.swiper.home-swiper.JS-home-swiper
				//- 				.swiper-wrapper
				//- 					.swiper-slide.home-swiper-slide
				//- 						.d-flex 
				//- 							include components/home.pug
				//- 							include components/card.pug
				//- 				.pag
				//- 					.swiper-pagination 
				//- 				.swiper-button-prev
				//- 				.swiper-button-next
				section.section-property
					.container 
						include components/heading.pug
						include components/description.pug
						.d-flex 
							include components/map.pug
							include components/form.pug
				section.section-card-home 
					.container
						include components/heading.pug
						.card-wrapper
							include components/card.pug
							include components/card.pug
							include components/card.pug
							include components/card.pug
							include components/card.pug
							include components/card.pug
			//- footer
			include components/footer.pug
			script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
			script(
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
				crossorigin="anonymous"
			)
			script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js") 
			script(src="./js/main.js") 
